@import url(variables.css);
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-top: 60px;
}

:root {
  /*colors*/ 
  --black: #000000; 
  --white: #ffffff; 

  /*theme 1*/ 
  --pink-bg: #ffe5ec; 
  --pink-header: #ffb3c6; 
  --pink-card: #ff8fab; 
  --pink-border: #fb6f92; 
  --pink-bottom: #ffc2d1; 
  --pink-text: white;

  /*theme 2*/
  --blue-bg: #caf0f8; 
  --blue-border: #00ccf5; 
  --blue-bottom: #0ad6ff; 
  --blue-card: #90e0ef; 
  --blue-ellipse: #ade8f4; 
  --blue-text: #41363b; 

  /*font sizes*/
  --h1: 4.5rem;
  --h2: 4rem; 
  --h3: 2.5rem;
  --h4: 1.5rem;

  /*font family*/
  --pink-font: font-family: 'Montagu Slab', serif;
  --blue-font: font-family: 'Quicksand', sans-serif;
  /*intentions (optional)*/
  
}

.pinktheme{
  --primary: var(--pink-bg);
  --secondary: var(--pink-card);
  --pink-font: font-family: 'Montagu Slab', serif;
}

.bluetheme{
  --blue-bg: #caf0f8; 
  --blue-border: #00ccf5; 
  --blue-bottom: #0ad6ff; 
  --blue-card: #90e0ef; 
  --blue-ellipse: #ade8f4; 
  --blue-text: #41363b;
  --blue-font: font-family: 'Quicksand', sans-serif;
}

.hawaii {
  background-color: #FFE5EC;
}

.btn {
  text-align: center;
  font-family: var(--pink-font);
  padding: 1rem 2rem;
  border-radius: 2rem;
  background-color: #ffc2d1;
  margin-left: 50rem;
}

#header {
  height: 6rem;
  margin: 3rem 4rem 3rem 4rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: #FFB3C6;
  text-align: center;
  font-family: var(--pink-font);
  font-size: var(--h1);
}

.subheader {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 41px;
}

.card {
  background-color: var(--pink-card);
  border: 3px solid #FB6F92;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 1% 60% 4rem 6rem;
  padding: 2rem 4rem 6rem 4rem;
}

.navbar-list-sections {
  justify-content: space-evenly;
  font-family: var(--pink-font);
  font-size: var(--h4);
}

.title {
  text-align: center;
  color: #FB6F92;
  font-family: var(--pink-font);
  font-size: var(--h2);
}

.img {
  align-content: center;
  width: 100%;
  margin-bottom: 1rem;
}

.subtitle {
  text-align: center;
  color: white;
  font-family: var(--pink-font);
  font-size: var(--h3);
}

.description {
  text-align: center;
  color: white;
  font-family: var(--pink-font);
  margin: 1rem 2rem 1rem 2rem;
}

.parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}

.island-card {
  background-color: var(--pink-card);
  border: 3px solid #FB6F92;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 1% 60% 4rem 6rem;
  padding: 2rem 4rem 6rem 4rem;
}

.island-name {
  text-align: center;
  color: white;
  font-family: var(--pink-font);
  font-size: var(--h3);

}

.island-description {
  text-align: center;
  color: white;
  font-family: var(--pink-font);
  margin: 1rem 2rem 1rem 2rem;
}

.bottom {
  padding: 4rem;
  background-color: var(--pink-bottom);
}

.whales {
  margin-left: 45rem;
  width: 12rem;
}
