@import url(variables.css);

:root {
  /*colors*/ 
  --black: #000000; 
  --white: #ffffff; 

  /*theme 1*/ 
  --pink-bg: #ffe5ec; 
  --pink-header: #ffb3c6; 
  --pink-card: #ff8fab; 
  --pink-border: #fb6f92; 
  --pink-bottom: #ffc2d1; 
  --pink-text: #ffffff;

  /*theme 2*/
  --blue-bg: #caf0f8; 
  --blue-border: #00ccf5; 
  --blue-header: #0ad6ff; 
  --blue-card: #90e0ef; 
  --blue-ellipse: #ade8f4; 
  --blue-text: #41363b; 

  /*font sizes*/
  --h1: 4.5rem;
  --h2: 3.5rem; 
  --h3: 2.5rem;
  --h4: 1.5rem;
  --h5: 1rem;

  /*font family*/
  font-family: 'Quicksand', sans-serif;
  font-family: 'Montagu Slab', serif;

  /*intentions (optional)*/
  --primary: var(--pink-bg);
  --secondary: var(--pink-header);
  --third: var(--pink-card);
  --fourth: var(--pink-border);
  --fifth: var(--pink-text);
  --sixth: var(--pink-bottom); 
  font-family: 'Montagu Slab', serif;
}
