#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-top: 60px;
}

:root {
  /*colors*/ 
  --black: #000000; 
  --white: #ffffff; 

  /*theme 1*/ 
  --pink-bg: #ffe5ec; 
  --pink-header: #ffb3c6; 
  --pink-card: #ff8fab; 
  --pink-border: #fb6f92; 
  --pink-bottom: #ffc2d1; 

  /*theme 2*/
  --blue-bg: #caf0f8; 
  --blue-border: #00ccf5; 
  --blue-bottom: #0ad6ff; 
  --blue-card: #90e0ef; 
  --blue-ellipse: #ade8f4; 
  --blue-text: #41363b; 

  /*font sizes*/
  --h1: 4.209rem;
  --h2: 3.157rem; 
  --h3: 2.369rem; 

  /*font family*/
  --pink-header: font-family: 'Montagu Slab', serif;
  --blue-header: font-family: 'Quicksand', sans-serif;
  /*intentions (optional)*/ 
}

.card {
  position: absolute;
  width: 360px;
  height: 568px;
  left: 35px;
  top: 179px;
  background: #FB6F92;
}

.header {
  position: absolute;
  width: 359px;
  height: 78px;
  left: 35px;
  top: 28px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.subheader {
  position: absolute;
  width: 305px;
  height: 40px;
  left: 62px;
  top: 123px;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 41px;
  text-align: center;
}

