*, html, body {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Montagu Slab', serif;
} 

#hawaii {
    background-color: var(--primary);
}

#header {
    height: 6rem;
    margin: 3rem 4rem 3rem 4rem;
    filter: drop-shadow(0rem 0.5rem 0.5rem var(--black));
    background-color: var(--pink-header);
    text-align: center;
    font-family: var(--pink-font);
    font-size: var(--h1);
}

.subheader {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: var(--h1);
    line-height: 41px;
}

nav{
    display: flex; 
    justify-content: space-around;
    align-items: center;
    background-color: var(--fourth); 
}

.navbar-list {
    display: flex; 
    justify-content: space-evenly;
    padding: 1rem;
    margin-top: 2rem;
    align-items: center;
    flex-direction: row;
    color: var(--white);
    width: 50%;
    font-size: var(--h3);
}

.navbar-list li{
    list-style: none;
}

.navbar-list a{
    color: var(--white);
    text-decoration: none; 
}

.navbar-list-sections{
    font-size: var(--h3);
    padding: 0.25rem;
} 

.navbar-list-sections:hover{
    background: var(--white); 
    transition: 0.2s;
}

.title {
    text-align: center;
    color: var(--pink-border);
    font-size: var(--h2);
    padding: 2rem;
}
  
.img {
    align-content: center;
    width: 100%;
    margin-bottom: 1rem;
}
  
.name {
    text-align: center;
    color: var(--white);
    font-family: var(--pink-font);
    font-size: var(--h3);
}
  
.description {
    font-family: var(--pink-font);
    color: var(--white);
    font-size: var(--h4);
    margin: 1rem 2rem 1rem 2rem;
}

.bottom {
    padding: 4rem;
    background-color: var(--pink-bottom);
}
  
.whales {
    margin-left: 45rem;
    width: 12rem;
}

.btn {
    align-items: center;
    font-family: var(--pink-font);
    padding: 1rem 2rem;
    border-radius: 2rem;
    background-color: var(--pink-bottom);
    margin-left: 50rem;
}

.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

.card {
    flex: auto;
    background-color: var(--third);
    border: 3px solid var(--fourth);
    box-sizing: border-box;
    box-shadow: 0rem 0.5rem 0.5rem var(--black);
    margin: 1% 60% 4rem 6rem;
    padding: 2rem 4rem 6rem 4rem;
    border-radius: 0.8rem;
}

.island-img {
    align-content: center;
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.pinktheme {
    --primary: var(--pink-bg);
    --secondary: var(--pink-header);
    --third: var(--pink-card);
    --fourth: var(--pink-border);
    --fifth: var(--pink-text);
    font-family: 'Montagu Slab', serif;
}

.bluetheme {
    --primary: var(--blue-bg);
    --secondary: var(--blue-header);
    --third: var(--blue-card);
    --fourth: var(--blue-border); 
    --fifth: var(--blue-text);
    font-family: 'Quicksand', sans-serif;
}
  