*,
html,
body {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-size: 62.5%;
}

.pinktheme {
    --primary: var(--pink-bg);
    --secondary: var(--pink-header);
    --third: var(--pink-card);
    --fourth: var(--pink-border);
    --fifth: var(--pink-text);
    --sixth: var(--pink-bottom);
    font-family: 'Montagu Slab', serif;
}

.bluetheme {
    --primary: var(--blue-bg);
    --secondary: var(--blue-header);
    --third: var(--blue-card);
    --fourth: var(--blue-border);
    --fifth: var(--blue-text);
    --sixth: var(--blue-ellipse);
    font-family: 'Quicksand', sans-serif;
}

.hawaii {
    background-color: var(--primary);
    color: var(--fifth);
}

#header {
    color: var(--black);
    height: 6rem;
    margin: 3rem 4rem 3rem 4rem;
    margin-top: 9rem;
    filter: drop-shadow(0rem 0.5rem 0.5rem var(--black));
    background-color: var(--secondary);
    text-align: center;
    font-size: var(--h1);
}

.button {
    text-align: center;
}

.btn {
    padding: 1rem 2rem;
    border-radius: 2rem;
    background-color: var(--sixth);
    margin-bottom: 3rem;
    font-size: var(--h4);
}

.btn:hover {
    background: var(--white);
    transition: 0.3s;
}

.navbar {
    position: fixed;
    top: 0%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--fourth);
    width: 100%;
}

.navbar-list {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    align-items: center;
    color: var(--fifth);
    width: 100%;
}

.navbar-list li {
    list-style: none;
}

.navbar-list a {
    color: var(--fifth);
    text-decoration: none;
}

.navbar-list-sections {
    font-size: var(--h3);
}

.navbar-list-sections:hover {
    text-decoration: underline;
    font-weight: 800;
    transition: 0.3s;
}

.info {
    text-align: center;
}

.sections {
    margin-bottom: 4rem;
}

.title {
    text-align: center;
    color: var(--fourth);
    font-size: var(--h2);
    padding: 2rem;
    padding-bottom: 0%;
}

.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
}

.card {
    width: 65%;
    background-color: var(--third);
    border: 3px solid var(--fourth);
    box-sizing: border-box;
    box-shadow: 0rem 0.5rem 0.5rem var(--black);
    margin: 2rem;
    padding: 2rem;
    border-radius: 1rem;
}

.img {
    align-content: center;
    width: 95%;
    margin-bottom: 1rem;
}

.name {
    text-align: center;
    color: var(--fifth);
    font-size: var(--h3);
    margin-bottom: 1rem;
}

.description {
    font-family: var(--pink-font);
    color: var(--fifth);
    font-size: var(--h5);
    margin: 1rem;
}

.bottom {
    padding: 4rem;
    background-color: var(--pink-bottom);
}

.whales {
    margin-left: 45rem;
    width: 12rem;
}

.island-img {
    align-content: center;
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.flex-card {
    width: 28%;
}

.row-card {
    width: 45%;
}

@media only screen and (min-width: 1200px) {

    *,
    html,
    body {
        text-align: center;
    }
}

@media only screen and (max-width: 1200px) {

    *,
    html,
    body {
        text-align: center;
    }

    .navbar-list-sections {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 650px) {

    *,
    html,
    body {
        text-align: center;
    }

    h1 {
        font-size: var(--h2);
    }

    h2 {
        font-size: var(--h3);
    }

    h3 {
        font-size: var(--h4);
    }

    h4 {
        font-size: var(--h5);
    }

    h5 {
        font-size: 1.15rem;
    }

    .navbar-list-sections {
        font-size: var(--h4);
    }

    .card {
        width: 80%;
    }
}

@media only screen and (max-width: 550px) {

    *,
    html,
    body {
        text-align: center;
    }

    h1 {
        font-size: var(--h3);
    }

    h2 {
        font-size: var(--h4);
    }

    h3 {
        font-size: var(--h5);
    }

    h4 {
        font-size: 1.15rem;
    }

    h5 {
        font-size: 0.75rem;
    }

    .navbar-list-sections {
        font-size: var(--h5);
    }
}